﻿/*General Properties*/

*{outline: none;}
img{border: none;}

*{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

body{
	background-color:white;
}

a, a:link , a:visited , a:active {
	text-decoration:none;
}


a:hover{
	cursor:pointer;
}

label{
	color:red;
}


.left{
	float:left;
}

.right{
	float:right;
}

.clear{
	clear:both;

}

.center{
	width:1000px;
	margin:auto;
}

ul{
	list-style:none;
}

/*--------------------------------*/

.des_header{
	width:100%;
	margin:auto;

}

.des_header .center{
	border-bottom:5px ;
}

.des_header .left a img{
	width:150px;
}

.des_header .right{
	padding-top:60px;
}

.des_header .right ul li{
	float:left;
	margin-left:30px;
}

.des_header .right ul li a{
	color:white;
	display:block;
	font-size:14px;
	font-weight:300;
	margin-top:5px;
}

.des_header .right ul li:last-child a{
	background-color:#0066a8;
	padding:5px 20px;
	border-radius:5px;
	margin-top:0px;
}

/*--------------------------------*/

#ban{
	width:100%;
	margin:auto;
	background-image:url('../images/TT_1.jpg');
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	background-repeat:no-repeat;
	height:700px;
	text-align:left;
}

#banner .center{
	padding-top:130px;
	0066a8

	#FB8C2D
}

.big_para{
	font-size:30px;
	color:#0066a8;
	font-weight:700;
}

.small_para{
	color:white;
	font-size:20px;
	font-weight:normal;
	margin:20px 0;
}

.anc{
	display:inline-block;
	color:white;
	font-size:20px;
	font-weight:700;
	padding:10px 50px;
	background-color:#0066a8;
	border-radius:5px;
}

/*--------------------------------*/

#layer_work{
	padding:50px 0;
	text-align:center;
}

#layer_work h2{
	text-align:center;
}

#layer_work ul li{
	float:left;
	text-align:center;
	width:293px;
	padding:30px 20px 50px;
	
}

#idxPg1{
	display:block;
	background-image:url('../images/gifs11techsquare/clock.png');
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	width:300px;
	height:150px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/gifs11techsquare/clock.png',
    sizingMethod='scale');

    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/gifs11techsquare/clock.png',
    sizingMethod='scale')";
}



#idxPg1:hover{
	display:block;
	background-image:url('../images/gifs11techsquare/clock_gif.gif');
	background-size:cover;
	-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
	width:300px;
	height:150px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/gifs11techsquare/clock_gif.gif',
    sizingMethod='scale');

    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/gifs11techsquare/clock_gif.gif',
    sizingMethod='scale')";
}


#idxPg2{
	display:block;
	background:url('../images/gifs11techsquare/accuracy_1.png') -130px -70px;
	width:300px;
	height:170px;
	background-size: 570px;
    -moz-background-size:570px;
    -o-background-size:570px;
    -ms-background-size:570px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/gifs11techsquare/accuracy_1.png',
    sizingMethod='scale');
}



#idxPg2:hover{
	display:block;
	background:url('../images/gifs11techsquare/accuracy_1.gif') -130px -70px;
	width:300px;
	height:170px;
	background-size: 570px;
    -moz-background-size:570px;
    -o-background-size:570px;
    -ms-background-size:570px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/gifs11techsquare/accuracy_1.gif',
    sizingMethod='scale');

}


#idxPg3{
	display:block;
	background-image:url('../images/gifs11techsquare/secure.png');
	background-size:cover;
	-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
	width:300px;
	height:170px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/gifs11techsquare/secure.png',
    sizingMethod='scale');

    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/gifs11techsquare/secure.png',
    sizingMethod='scale')";
}



#idxPg3:hover{
	display:block;
	background-image:url('../images/gifs11techsquare/secure.gif');
	background-size:cover;
	-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
	width:300px;
	height:170px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/gifs11techsquare/secure.gif',
    sizingMethod='scale');

    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/gifs11techsquare/secure.gif',
    sizingMethod='scale')";
}



#idxPhw1{
	display:block;
	background-image:url('../images/step-1.gif');
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	width:200px;
	height:200px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/gifs11techsquare/clock.png',
    sizingMethod='scale');

    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/gifs11techsquare/clock.png',
    sizingMethod='scale')";
}


#idxPhw2{
	display:block;
	background-image:url('../images/step-2.gif');
	background-size:cover;
	-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
	width:200px;
	height:200px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/gifs11techsquare/secure.png',
    sizingMethod='scale');

    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/gifs11techsquare/secure.png',
    sizingMethod='scale')";
}

#idxPhw3{
	display:block;
	background-image:url('../images/step-3.gif');
	background-size:cover;
	-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
	width:200px;
	height:200px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/gifs11techsquare/secure.png',
    sizingMethod='scale');

    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/gifs11techsquare/secure.png',
    sizingMethod='scale')";
}




#layer_work ul li h3{
	color:#0066a8;
	margin:10px 0;
}

#layer_work ul li p{
	font-size:14px;
}

#layer_work .anc{
}

/*--------------------------------*/

#layer_steps{
	padding:50px 0;
	background-color:#EEF1F2;

}

#layer_steps .left{
	width:500px;
	padding:20px;
	margin-top:50px;

   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;

  
   border-radius: 10px;
   box-shadow: 0 0 0 4px #f1f1f1, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
}

#layer_steps .left img{
	
}

#two_img{
	display:none;
}

#three_img{
	display:none;
}

#layer_steps .right{
	margin-top:50px;
}

#layer_steps .right{
	width:400px;
}

#layer_steps .right ul li{
	margin-bottom:60px;
}

#layer_steps .right ul li:last-child{
	margin-bottom:0;
}

#layer_steps .right ul li img{
	width:60px;
	float:left;
	margin-right:10px;
}

#layer_steps .right a{
	display:block;
	color:black;
}

#layer_steps .right span{
	display:inline-block;
	font-size:20px;
	font-weight:700;
}

.current{
	-webkit-opacity:1;
	-moz-opacity:1;
	-o-opacity:1;
	-ms-opacity:1;
}

.hover{
	-webkit-opacity:0.4;
	-moz-opacity:0.4;
	-o-opacity:0.4;
	-ms-opacity:0.4;
}

#layer_steps .right p{
	margin-top:5px;
}

#layer_steps .right a:hover{
	-webkit-opacity:1;
	-moz-opacity:1;
	-o-opacity:1;
	-ms-opacity:1;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:0.5s;
}


#layer_steps .right p{
	font-size:14px;
}


/*--------------------------------*/

#layerone{
	background-color:#F68D33
}

#layertwo{
	background-color:#2880BB;
}

#layerthree{
	background-color:#1F6392;
}

.layer{
	padding:50px 0;
	color:white;
}

.layer img{
	float:left;
	width:100px;
}

.layer span{
	font-size:50px;
	font-weight:700;
	display:inline-block;
	margin-top:20px;
}

.layer p{
	font-size:20px;
	text-align:justify;
}

/*--------------------------------*/

#layer_clients{
	padding:50px 0;
	border-top:3px #737474 solid;
	text-align: center;;
}

.head{
	font-weight:300;
	font-size:35px;
	text-align:center;
}

.slider{
	text-align:center;
	padding:50px 0;
}

.slider img{
	border-radius:50%;
	width:180px;
}

.slider p{
	color:#737474;
	font-size:25px;
	margin:30px 0;
}

.slider span{
	display:block;
}

.spn1{
	color:#2880BB;
	font-size:20px;
	font-weight:700;
}

.spn2{
	color:#737474;
	font-size:15px;
}

/*--------------------------------*/

#footer{
	padding:50px 0;
	text-align:center;
}

#footer .center{
	padding:50px 0;
	border-top:2px #0066a8 solid;
}

#social{
	display:inline-block;
}

#social li{
	float:left;
}

#social li a img{
	width:50px;
}

#footer p{
	font-size:14px;	
}

#footer p:first-child{
	margin-top:10px;
}

#buttons{
	display:inline-block;
	width:300px;
}

#buttons a{
	color:#0066a8;
	font-size:14px;
	display:inline-block;
	margin:30px 0;
}

#buttons a:first-child{
	float:left;
}

#buttons a:last-child{
	float:right;
}


/*--------------------------------*/

#layer_steps{
	padding:50px 0;
	background-color:#EEF1F2
}

#layer_steps .left{
	width:500px;
	border:1px black solid;
}

#layer_steps .left img{
	width:500px;
}

/*--------------------------------*/

#bantwo{
	width:100%;
	margin:auto;
	background-image:url('../images/peace-of-mind-images-pictures-sea-shore-001.jpg');
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;	
	height:300px;
	text-align:left;
}

/*--------------------------------*/

#container{
	padding:50px 0;
	min-height: 500px;
}

#vision{
	text-align:center;
}

#vision p{
	font-size:20px;
	margin-top:20px;
}

/*--------------------------------*/

#team{
	padding:20px 0;
	text-align:center;
}

#team .left{
	width:400px;
	padding:30px 0;
}

#team .right{
	width:400px;
	padding:30px 0;
}

.cont{
	text-align:center;
}

#team span{
	display:block;
}

#team img{
	border-radius:50%;
	width:150px;
	
}

#team p{
	font-size:14px;
	line-height:20px;
	margin-top:10px;
}

#team .spn1{
	margin-top:10px;
}

/*--------------------------------*/

#form{
	text-align:center;
}

#form ul{
	
}

#form ul li{
	margin-bottom:20px;
}

.inp{
	width:500px;
	padding:10px 5px;
	font-size:14px;
	border-radius:3px;
	border:1px #cccccc solid;
	margin-bottom:20px;
}

.submit{
	width:515px;
	padding:10px;
	background-color:#09c;
	color:white;
	font-size:14px;
	font-weight:700;
	border:none;
	cursor:pointer;
	border-radius:3px;
}

.textarea{
	width:500px;
	padding:10px 5px;
	font-size:14px;
	border-radius:3px;
	border:1px #cccccc solid;
	margin-bottom:20px;
	height:100px;
	resize:none;
}


.para{
	font-size:18px;
	text-transform:uppercase;
	text-align:center;
	margin:30px 0;
	display:inline-block;
	border-bottom:3px #737474 solid;
}

/*--------------------------------*/

/*----------------------------------*/

#header3{
    width:100%;
    margin:auto;
}

#header3 .center{
    padding:20px 0;
    border-bottom:2px #0066a8 solid;
}

#header3 .left a img{
    width:100px;
}

#header3 .right{
    padding-top:35px;
}

#header3 .right ul li{
    float:left;
    margin-left:30px;
    position:relative;
}

#header3 .right ul li a{
    color:#2D3E50;
    display:block;
    font-size:14px;
    margin-top:5px;
}

#header3 .right ul li:last-child a{
    background-color:#0066a8;
    padding:5px 20px;
    border-radius:5px;
    margin-top:0px;
    color:white;
}

#header3 .right ul li ul{
	list-style:none;
	display:none;
	background-color:#eeeeee;
	border:1px #cccccc solid;
	right:0px;
	width:150px;
}

#header3 .right ul li:hover ul{
	display:block;
	position:absolute;
}

#header3 .right ul li ul li{
	float:none;
}

#header3 .right ul li ul li a{
	color:black;
	background-color:black;
	display:block;
	padding:0;
	font-size:14px;
}

#header3 .right ul li ul li:last-child a{
	padding:5px 0 10px;
}

#header3 .right ul li ul li a:hover{
	color:#0066a8 !important;
}

/*--------------------------------*/

#background{
	width:100%;
	margin:auto;
	background-image:url('../images/peace-of-mind-images-pictures-sea-shore-001.jpg');
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;	
	height:500px;
	padding:20px 0;
}

/*--------------------------------*/


#header2{
	
}

#header2 .center{
	text-align:center;
}

#header2 .center:nth-child(2){
	text-align:left;
}

#header2 a{
	display:inline-block;
	text-align:center;
	margin:auto;
}

#header2 a img{
	width:120px;
}

#form2{
	padding:20px 0;
}


#form2 .left{
	width:400px;
}

#form2 p{
	font-size:25px;
	font-weight:700;
}

#form2 .left img{
	float:left;
	width:50px;
}

#form2 .left p{
	color:white;
}

#form2 .left ul{
	margin-top:50px;
}

#form2 span{
	display:inline-block;
	font-size:25px;
	font-weight:700;
	color:white;
	margin-top:10px;
	margin-left:20px;
}

#form2 .left ul li{
	margin-bottom:20px;
}

#form2 .right{
	border:1px #cccccc solid;
	padding:30px 30px;
	background-color:white;
}


/*--------------------------------*/

#testimonial{
	padding:20px 0;
}

#testimonial .left{
	width:150px;
}

#testimonial .left img{
	width:100px;
	border-radius:50%;
	margin-top:10px;
}

#testimonial .right{
	width:850px;
}

#testimonial .right span{
	display:block;
}

#testimonial .right .spn1{
	margin-top:10px;
}

#testimonial .right .spn2{
	margin:5px 0 10px;
}

#testimonial .right p{
	font-size:14px;
}

/*--------------------------------*/

/*------------------------Model---------------------------------*/

.modalDialog{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	z-index: 9;
	opacity:0;
	color:black;
	display: none;
}

.modalDialog:target{
	opacity:1;
	pointer-events: auto;
}

#modalin{
	width:300px;
	position: relative;
	margin: 5% auto;
	padding:0px 20px 10px;
	border-radius:3px;
	box-shadow: 0 0 8px 2px #444546;
}

.r1{
	background-color:white;
}

.close{
	float:right;
	margin:10px 0;
	background-color:white;
	font-size:15px;
	display:inline-block;
	color:#333333;
	font-weight:700;
}

.form{
	margin:20px 0;
}

.form ul li{
	margin:15px 0;
}

.form ul li input[type=text],[type=email],[type=tel]{
	width:290px;
	padding:10px 5px;
	border:1px #cccccc solid;
	font-size:15px;
	border-radius:3px;
}

.form ul li input[type=password]{
    width:290px;
    padding:10px 5px;
    border:1px #cccccc solid;
    font-size:15px;
    border-radius:3px;
}

.form ul li select{
	width:300px;
	padding:10px 5px;
	border:1px #cccccc solid;
	font-size:15px;
	border-radius:3px;
}

.form ul li textarea{
	width:290px;
	padding:10px 5px;
	border:1px #cccccc solid;
	font-size:15px;
	height:100px;
	border-radius:3px;
	resize:none;
}

.form ul li input[type=submit]{
	background-color:#2D3E50;
	color:white;
	width:300px;
	border:none;
	border-radius:3px;
	padding:10px 0px;
	cursor:pointer;
	font-size:15px;
	margin-bottom: 5px;
}

.form a{
	color:black;
	font-size:13px;
	display:block;
}

.form a:hover{
	text-decoration:underline;
}

.form p{
	margin-top:20px;
	font-size:13px;
	text-align:left;
}

.form p a{
	display:inline-block;
	font-size:12px;
	color:#C32026;
}

/*----------------------------------*/

#subheader{
	background-color: #0066a8;
}

#subheader ul li{
	float: left;
}

#subheader ul li a{
	display: block;
	font-size: 15px;
	font-weight: 700;
	color: #2d3e50;
	padding: 15px 100px;
}

#subheader ul li a.selected{
    display: block;
    font-size: 15px;
    font-weight: 700;
    color: #0066a8;
    padding: 15px 100px;
    background-color: #2d3e50;
}

#subheader ul li a:hover{
	background-color: #2d3e50;
	color: #0066a8;
}

.button{
	background-color: #cccccc;
    color: black;
    border:none;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    border-radius:5px;
    display: inline-block;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    
    border-left: 30px solid green;
}

.new-button{
	background-color:#2D3E50;
	color:white;
	font-size:14px;
	font-weight:700;
	padding:8px 50px;
	display:inline-block;
	margin-top:10px;
}

.orgbutton{
	font-size:18px;
	color:#2D3E50;
	font-weight:700;
	margin-top:10px;
	border-bottom:1px #2D3E50 solid;
}

/*----------------------------------*/

#job{
    width: 1000px;
    margin:auto;
    padding:30px 0;
}

#heading {
	
	
}


#heading h4{
	font-size: 25px;
}

#heading .button{
	background-color: transparent;
	color:#0066a8;
	font-size: 14px;
	font-weight: 400;
	margin-top: -10px;
}

#heading .left{
	width:200px;
}

#heading .right{
	width:330px;
}


#jobin .left{
	width: 900px;
}

#jobin .right{
	
	text-align: right;
	margin-top: 10px;
}

#headcon{
	width: 1000px;
    margin:auto;
}

.headnewbig{
    font-size: 30px;
    font-weight: 700;    
    text-align: center;
}

.headnew{
    font-size: 25px;
    text-transform: uppercase;
    background-color:#B0B0B0;
    padding:10px;
    color: #black;
   
}

#draft{
	width: 1000px;
    margin:auto;
    margin-top: 0px;
}

#draft h4{
	font-size: 20px;
	text-transform:uppercase; 
	margin-top: 30px;
}

#draft .left{
    width:700px;
    margin:10px 0;
    padding:10px;
    height:100px;
    border: 1px black dotted;
}

#draft .right{
	width: 250px;
	padding:10px 0;    
}

.btn_anc{
	display: block;
	padding: 10px 20px;
	font-size: 14px;
	text-align: center;
	background-color: #cccccc;
    color:black;
    text-transform:uppercase;
    border:none;
    width: 200px;
    text-align: center;
    border-radius:5px;
    margin-top: 15px;
}

#draft .right a:nth-child(2){
	margin-top: 10px;
}

.btn{
	color:#2D3E50;
	font-weight:400;
	font-size:14px;
}

/*----------------------------------*/

#templates{
	text-align: center;
	margin-top: 50px;
	width:1000px;
	margin:auto;
}

#templates .headnewbig{
	margin-top: -45px;
}

.message{
	font-size: 18px;
	font-style: italic;
}

/*----------------------------------*/

#forgotpass ul{
	margin-top: 40px;
	border:1px #cccccc solid;
	width: 500px;
	padding:50px 20px;
}

#forgotpass .submit{
	width:500px;
    padding:10px;
    background-color:#2D3E50;
    color:white;
    font-size:14px;
    font-weight:700;
    border:none;
    cursor:pointer;
    border-radius:3px;
}

.headin{
    float:left;
    margin-top: 25px;
}

.dwld{
    margin:20px 0;
    padding:10px;
    background-color:#2D3E50;
    color:white;
    font-size:14px;
    font-weight:700;
    border:none;
    cursor:pointer;
    border-radius:3px;
    display: inline-block;
    margin-left: 50px;
    float: right;
}

.job_res_head {
	margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
}

.th{
    background-color: #0066a8;
}


.acnt p{
	font-size: 14px;
}

.acnt a{
	color: #0066a8;
	font-size: 14px;
	display: inline-block;
}

.acnt a:hover{
	color: #2D3E50;
}

/*----------------------------------*/

#running ul li{
	float: left;
	padding: 20px 0;
}

#running ul li h4{
	font-size: 20px;
}

#running ul li:first-child{
	width: 200px;
}

.progressbar{
	width: 800px;
	background-color: #cccccc;
}

.progressbarin{
	padding:10px 0;
	text-align:right;
	font-size:15px;
	font-weight:700;
	background-color: #0066a8;
}

.progressbarcom{
    padding:10px 0;
    text-align:right;
    font-size:15px;
    font-weight:700;
    background-color: #00b000;
    width: 800px;
}

.value{
    display: inline-block;
    padding-right: 10px;	
    font-size: 14px;
}

.valuesign{
	font-size: 18px;
	display:block;
	text-align:center;
	margin-top:5px;
	font-style: italic;
}

/*----------------------------------*/

#sidebar{
	background-color: white;
	border:1px #cccccc solid;
	width: 300px;
	position: fixed;
	right:0;
	padding:20px 10px;
	border-right:0px;
	top:230;
}

#sidebar p{
	font-size: 20px;
	font-style: italic;
}

.inp_side{
	width: 235px;
	padding: 3px 10px;
	margin: 3px 0;
 }
 
 .inp_side.multiOp{
    width: 220px;
 }
 
 .select_side{
    width: 260px;
    padding: 3px 10px;
    margin: 5px 0;
 }
 .select_side_locked{
    width: 235px;
    padding: 3px 10px;
    margin: 5px 0;
 }
 
 .cross{
    font-size: 14px;
    font-weight:700;
    color:#cc0000;
}

#cont{
	width:1000px;
	margin-top:50px;
}

.job_name{
	float:left;
	font-weight:700;
	width:1000px;
	padding:5px;
	background-color:#cccccc;
}

.btn_rit{
	background-color:#2D3E50;
	color:white;
	padding:8px 10px;
	font-weight:400;
	font-size:13px;
	border-radius:3px;
	margin-left:10px;
}

/*----------------------------------*/

/*---------------------------End of Modal----------------------------*/

#contact{
	padding:50px 0;
}

#inhead{
	padding:20px 0;
	background-color:#EEEEEE;
}

#inhead .center{
}

#inhead .left{
	width:900px;
}


#inhead h3{
	font-size:30px;
	font-weight:100;
	display:inline-block;
}

#contact .left{
	margin-top:50px;
	padding:20px 50px 20px 20px;
	border-radius:3px;
	border:1px #cccccc solid;
	background-color:rgba(45, 62, 80, 0.1);
	color:black;
}

#contact .left img{
	float:left;
	width:30px;
	margin-right:15px;
}

#contact .left p{
	font-size:12px;
	font-weight:700;
	text-transform:uppercase;
}

#contact .left span{
	display:block;
	font-size:14px;
	margin-top:5px;
}

#contact .left ul li:first-child{
	margin-bottom:50px;
}

#contact .right{
	margin-top:50px;
}

#contact .right form .inp:focus{
	border:1px #4D6988 solid;
}

#contact .right form .textarea:focus{
	border:1px #4D6988 solid;
}

/*--------------------------------*/

#pricing{
	padding:50px 0;
}

.price{
	float:left;
	width:272px;
	text-align:center;
	margin:50px 30px;
	border-bottom:1px #cccccc solid;
	background-color:#2d3e50;
	color:white;
}

.price:nth-child(2){
}

.price ul li{
	font-size:12px;
	padding:0px 0;
}

.price ul li:first-child{	
	color:white;
	font-weight:700;
	font-size:18px;
	padding:10px 0;
	border-bottom:1px white solid;
}

.price ul li:nth-child(2){
	color:white;
	border-radius:50%;
}

.price ul li span{
	display:inline-block;
}

.price ul li div{
	display:inline-block;
	background-color:#2D3E50;
	padding:15px;
}

.big-span{
	font-size:15px;
	font-weight:700;
}

.price ul li:nth-child(3){
	margin-top:20px;
}

.price ul li:last-child{
	margin:20px 0;
}

.price ul li a{
	display:inline-block;
	font-size:12px;
	font-weight:700;
	color:white;
	background-color:#0066a8;
	padding:5px 20px;
	border-radius:3px;
}

.price ul li a:hover{
	color:#0066a8;
}

/*--------------------------------*/

#arrows{
	margin:auto;
	margin-bottom:50px;
	text-align:center;
}

#arrows ul{
	display:inline-block;
}

#arrows ul li{
	float:left;
	margin-right:30px;
}

#arrows ul li a{
	display:block;
}

#arrows ul li a img{
	float:left;
	width:20px;
	margin-right:20px;
	margin-top:5px;
}

.pos{
	display:block;
	float:left;
	color:white;
	padding:5px 30px;
	font-size:18px;
	font-weight:700;
	background-color:#2D3E50;
}

.pos b{
	margin-top:2px;
	display:inline-block;
}

.arrow-right {
	width: 0; 
	height: 0; 
	display:inline-block;
	border-top:18px solid transparent;
	border-bottom:18px solid transparent;
	border-left:18px solid #2D3E50;
}

.arrow-left {
	width: 0; 
	height: 0; 
	display:inline-block;
	border-top:25px solid transparent;
	border-bottom:25px solid transparent;
	
	border-right:25px solid #2D3E50;
}

#arrows .close{
	position:absolute;
	right:0;
	padding:5px;
	background-color:black;
	color:white;
	border-radius:50%;
	height:20px;
	width:18px;	
	margin:10px 10px 0 0;
	top:0;
}

.next{
	border:none;
	background-color:transparent;
	cursor:pointer;
}

.next .pos{
	padding:10.5px 20px;
	font-size:12px;
}

.arrow-next{
	width: 0; 
	height: 0; 
	display:inline-block;
	border-top:19px solid transparent;
	border-bottom:19px solid transparent;
	
	border-left:19px solid #2D3E50;
}


/*--------------------------------*/

#tabs{
	margin-top:30px;
}

#tabs ul li{
	float:left;
}

#tabs ul li a{
	color:black;
	font-size:14px;
	display:block;
	padding:10px 30px 10px 10px;
	border-top:1px #cccccc solid;
	border-left:1px #cccccc solid;
	border-right:1px #cccccc solid;
}

#tabpro{
	border-top-left-radius:5px;
	border-bottom:1px #eeeeee solid;
}

#tabacc{
	border-top-right-radius:5px;
	border-left:none;
}

#tabscon{
	border:1px #cccccc solid;
	height:400px;
	margin-top:-1px;
}

#profile{
	padding:20px 15px;
}

#profile ul li{
	font-size:14px;
	margin-bottom:20px;
}

#profile ul li a{
	display:inline-block;
	color:#0066a8;
	margin-left:10px;
}

#profile ul li:nth-child(4) a{
	margin-left:0;
}

/*--------------------------------*/

#account{
	padding:20px 15px;
	display:none;
}

#account ul li{
	font-size:14px;
	margin-bottom:20px;
}

#account ul li span{
	display:block;
}

#progress{
	width:900px;
	border:1px #3D4D5D solid;
}

#progressin{
	width:100px;
	background-color:#0066a8;
	padding:4px 0;
}

/*--------------------------------*/

#templatecon{
	position:relative;
}

.des_orcls{
	font-size: 20px;
	font-weight: 700;
	width:500px;
	margin:30px auto;
}

.or-spn{
	margin-top:-58px;
	background-color:#eeeeee;
	padding:5px;
	font-weight:700;
	display:inline-block;
}

.sub{
	background-color:#2D3E50;
	color:white;
	font-size:15px;
	font-weight:700;
	border:none;
	padding:10px 20px;
	border-radius:2px;
	margin-top:-30px;
	cursor:pointer;
}

.anco{
	display:block;
	color:black;
	font-size:20px;
	font-weight:700;
	text-decoration:underline;
}

/*--------------------------------*/

#popup{
	z-index:9;
	opacity:0.92;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background:#F0F0F0 ;
	display: none;
	text-align:center;
}

#popup h3{
	color:black;
}

#popup textarea{
	width:300px;
	height:50px;
	resize:none;
	padding:10px;
	margin:20px 0;
}

#popup input[type=button]{
	display:inline-block;
	border:none;
	background-color:#2D3E50;
	color:white;
	padding:5px 20px;
	border-radius:3px;
	cursor:pointer;
}

/*--------------------------------*/

#buttons-step .left{
	margin-left:300px;
	margin-top:10px;
}

#buttons-step ul li{
	float:left;
	margin-left:30px;
}

#buttons-step ul li:first-child{
	margin-left:0;
}

#buttons-step ul li p{
	font-size:12px;
	padding-top:3px;
}

#buttons-step a{
	color:white;
	display:inline-block;
}

#buttons-step .right a{
	font-size:12px;
	border-radius:3px;
}

.posi{
	color:white;
	padding:12px 30px;
	display:inline-block;
}


.arrow-left1{
	float:left;
	width: 0;
	height: 0; 
	display:inline-block;
	border-top:12px solid transparent;
	border-bottom:12px solid transparent;
	
	border-right:12px solid #2D3E50;
}


.arrow-right1{
	float:right;
	width: 0;
	height: 0; 
	display:inline-block;
	border-top:12px solid transparent;
	border-bottom:12px solid transparent;
	
	border-left:12px solid #2D3E50;
}

.disabled .posi{
	color:white;
	padding:12px 30px;
	display:inline-block;
	background-color:#cccccc;
}


.disabled .arrow-left1{
	float:left;
	width: 0;
	height: 0; 
	display:inline-block;
	border-top:12px solid transparent;
	border-bottom:12px solid transparent;
	
	border-right:12px solid #cccccc;
}

.disabled .arrow-right1{
	float:right;
	width: 0;
	height: 0; 
	display:inline-block;
	border-top:12px solid transparent;
	border-bottom:12px solid transparent;
	
	border-left:12px solid #cccccc;
}

/*--------------------------------------------------------*/

#job_head{
	background-color:#cccccc;
}

#job_head select{
	width:150px;
	padding:5px;
	margin-top:12px;
	margin-right:20px;
	border-radius:3px;
	background-color:#cccccc;
}

#jobstatus ul li{
	padding:20px 0;
	border-bottom:1px #cccccc solid;
}

#jobstatus ul li span{
	display:block;
}

.dte{
	font-size:12px;
	font-style:italic;
	color:#0066a8;
	margin-top:5px
}

#jobstatus ul li #progress{
	margin-top:10px;
	width:1000px;
}

#jobstatus ul li #progressin{
	padding:0px;
}

.perc{
	font-size:12px;
	padding:3px 10px;
}

#jobstatus ul li #progresscom{
	float:left;
	margin-top:10px;
	width:950px;
	border:1px #3D4D5D solid;
}

#jobstatus ul li #progresscomin{
	background-color:#009900;
	width:200px;
}

#jobstatus ul li a{
	display:inline-block;
	font-size:12px;
	color:#0066a8;
	background-color:#2D3E50;
	margin-top:10px;
	display:inline-block;
	margin-left:20px;
	border-radius:3px;
}

#jobstatus ul li a img{
	width:25px;
}


/** testimonials **/
#testimonials {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}
#testimonials h2 {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 3px;
}
 
#testimonials .carousel-wrap {

  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  height: 150px;

}
 
#testimonials .carousel-nav {
  display: block;
  width: 300px;
  margin: 0 auto;
}
#testimonials .carousel-nav img {
  cursor: pointer;
}
#testimonials .carousel-nav img:active {
  position: relative;
  top: 1px;
}
#testimonials .carousel-nav .nextbtn {
  float: right;
}
 
#testimonials .carousel-wrap ul {
  display: block;
  list-style: none;
  position: relative;
}
#testimonials .carousel-wrap ul li {
  display: block;
  float: left;
  position: relative;
  width: 800px;
  margin-right: 100px;
}
 
#testimonials .carousel-wrap .context {
  font-size: 2.0em;
  line-height: 1.45em;
  color: #797670;
  font-style: italic;
  margin-bottom: 6px;
  padding-bottom: 4px;
  border-bottom: 1px solid #dcdcdc;
  position: relative;	
}

/*--------------------------------------------------------*/
