@CHARSET "UTF-8";
div.fg {
    background-color: lightgrey;
    width: 1000px;
    padding: 25px;
    border: 5px solid navy;
    margin: 25px;
}

button.clr {
    color: red;
}

.table {
    border: 1px black solid;
    font-size: 14px;
}

.table td {
    border: 1px black solid;
    padding: 10px;
    white-space: nowrap;
    font-weight: 300;
    cursor: pointer;
}

.table th {
    border: 1px black solid;
    padding: 10px;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 400;
}

.Title {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.Heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.Row {
    display: table-row;
}

.Cell {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding: 10px 5px;
    width: 90%;
    margin: auto;
}

.Row .Cell {
    cursor: pointer;
}

.dataDiv {
    height: 500px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 10px;
    white-space: nowrap;
    width: 1000px;
}

.bubble {
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
    height: 250px;
    margin: 20px;
    width: 475px;
    display: none;
    position: absolute;
}

.bubble:before {
    background-color: #F2F2F2;
    box-shadow: -2px -2px 2px rgba(178, 178, 178, .4);
    content: "\00a0";
    display: block;
    height: 20px;
    left: 47px;
    position: relative;
    top: -10px;
    transform: rotate(45deg);
    width: 20px;
}

.bubble.rt:before {
    background-color: #F2F2F2;
    box-shadow: -2px -2px 2px rgba(178, 178, 178, .4);
    content: "\00a0";
    display: block;
    height: 20px;
    left: 428px;
    position: relative;
    top: -10px;
    transform: rotate(45deg);
    width: 20px;
}

.bubble.rb:before {
    background-color: #F2F2F2;
    box-shadow: 2px 2px 2px rgba(178, 178, 178, .4);
    content: "\00a0";
    display: block;
    height: 20px;
    left: 428px;
    position: relative;
    top: 240px;
    transform: rotate(45deg);
    width: 20px;
}

.bubble.lb:before {
    background-color: #F2F2F2;
    box-shadow: 2px 2px 2px rgba(178, 178, 178, .4);
    content: "\00a0";
    display: block;
    height: 20px;
    left: 47px;
    position: relative;
    top: 240px;
    transform: rotate(45deg);
    width: 20px;
}

.bubble.page.lb:before {
    background-color: #F2F2F2;
    box-shadow: 2px 2px 2px rgba(178, 178, 178, .4);
    content: "\00a0";
    display: block;
    height: 20px;
    left: 47px;
    position: relative;
    top: 380px;
    transform: rotate(45deg);
    width: 20px;
}

.bubble.page {
    height: 390px;
}

.resultImg img {
    margin: 5px 15px;
}

.edit_box {
    display: none;
    margin: 5px 15px;
}

.showVal {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #848484;
    outline: 0;
    height: 38px;
    width: 375px;
    color: #665;
}

.edit_button {
    font-size: 16px;
    font-family: Arial;
    font-weight: normal;
    text-decoration: inherit;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #dcdcdc;
    padding: 9px 18px;
    text-shadow: 1px 1px 0px #ffffff;
    -webkit-box-shadow: inset 1px 1px 0px 0px #ffffff;
    -moz-box-shadow: inset 1px 1px 0px 0px #ffffff;
    box-shadow: inset 1px 1px 0px 0px #ffffff;
    cursor: pointer;
    color: #1C1B1B;
    display: inline-block;
    background: -webkit-linear-gradient(90deg, #dfdfdf 5%, #ededed 100%);
    background: -moz-linear-gradient(90deg, #dfdfdf 5%, #ededed 100%);
    background: -ms-linear-gradient(90deg, #dfdfdf 5%, #ededed 100%);
    background: linear-gradient(180deg, #ededed 5%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ededed",
        endColorstr="#dfdfdf" );
}

.edit_button:hover {
    background: -webkit-linear-gradient(90deg, #ededed 5%, #dfdfdf 100%);
    background: -moz-linear-gradient(90deg, #ededed 5%, #dfdfdf 100%);
    background: -ms-linear-gradient(90deg, #ededed 5%, #dfdfdf 100%);
    background: linear-gradient(180deg, #dfdfdf 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dfdfdf",
        endColorstr="#ededed" );
}

.edit_button:active {
    position: relative;
    top: 1px;
}
.notifArea{
	height: 25px;
	color: #440000;
	
}